extends layoutAdmin

block content
    .content
        // START JUMBOTRON
        //.jumbotron(data-pages='parallax')
        .container-fluid.container-fixed-lg.sm-p-l-0.sm-p-r-0
            .inner
        // END JUMBOTRON
        // START CONTAINER FLUID
        <div class = "bg-color-container4">
            <!-- START card -->
            <div class="card card-transparent">
              <div class="card-header ">                
                <h5 class="card-title">#{page.name}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Edit Role</h6>
              </div>

                <div class="clearfix"></div>
              </div>
              <div class="card-block">
                    form#form-situation-edit(role='form', method="POST", action='../phonenumbers/edit')
                        <input type="hidden" name="person_id" value= #{data.person_id}>
                        .row
                            .col-sm-6
                                .form-group.required 
                                    label.control-label Name
                                    input#name.form-control(type='text', name='person_name', placeholder='Change title', required='', value= data.person_name)
                        .row
                            .col-sm-6
                                .form-group.required 
                                    label.control-label Phone
                                    input#name.form-control(type='text', name='contactno', placeholder='Change title', required='', value= data.contactno)
                        
                        

                        .row.align-items-end
                            .text-right.col-sm-12 

                            div
                                a.button.btn.btn(href='../phonenumbers') Cancel
                            div
                                a
                                    button.btn.btn-success(type='submit', style='margin-left: 39%;') Update

                                
                        

                            
                        
                                    
              </div>
            </div>
            <!-- END card -->
        </div>
