extends layoutAdmin

mixin row(data)
    td.v-align-middle
        p #{data.status_id}
    td.v-align-middle
        p #{data.status_name}
    td.v-align-middle
        <div class="btn-group dropdown-default">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span class="text-master">Action</span></a>
                <ul class="dropdown-menu ">
                    <li><a class="dropdown-item" href="/status/edit?status_id=#{data.status_id}">Edit</a></li>
                   
                   
                </ul>
        </div>    
      

block content
 
    .content
    
        // START JUMBOTRON
        //.jumbotron(data-pages='parallax')
        .container-fluid.container-fixed-lg.sm-p-l-0.sm-p-r-0
            .inner
        // END JUMBOTRON
        // START CONTAINER FLUID
        br
        br
        <div class = "bg-color-container3">
            <!-- START card -->
            <div class="card card-transparent">
                <div class="card-header ">
                    <div class="card-title">
                        <h5>#{page.name}</h5>            
                        <a href="/status/create" class="btn btn-success" tabindex="0" style="margin-left: 90%;">Add Status</a>
                    </div>

            
                </div>
                <div class="card-block">
                    <div id="tableWithSearch_wrapper" class="dataTables_wrapper no-footer">
                        <table class="table table-hover demo-table-search table-responsive-block dataTable no-footer" id="tableWithSearch" role="grid" aria-describedby="tableWithSearch_info">
                            thead
                                tr(role='row')
                                    th.sorting_asc(tabindex='0', aria-controls='tableWithSearch', rowspan='1', colspan='1', aria-sort='ascending', aria-label='Title: activate to sort column descending') Status ID
                                    th.sorting(tabindex='0', aria-controls='tableWithSearch', rowspan='1', colspan='1', aria-label='Last Update: activate to sort column ascending', ) Status Name
                                   
                            tbody
                                -var length = 1;
                                each row in page.data
                                    if (length % 2==0)
                                        tr.odd(role='row')
                                            +row(row)   
                                        
                                    else
                                        tr.even(role='row')
                                            +row(row)
                        </table>   
                    </div>  
                                      
                </div>
 
            </div>
            <!-- END card -->
        </div>